extends layout

block content
  h3= title
  p Welcome to #{title}

  - if (typeof(short_url) !== 'undefined') {
    h2= "http://home.jkl.su/" + short_url
  - }

  form(method="post" action="/shorturls")
    span.label Url:
    =" "
    input(type="text", name="long_url")
    input(type="submit", value="add")
