extends layout

block content
  h3= title

  table
    tr
      td uid
      td visits
      td long url
    for url in shorturls
      tr
        td
          a(href=proto + "://" + host + "/" +  url.path)= url.path
        td= url.counter
        td= url.long_url
